*{
    margin: 0;
    padding: 0;
}
body{
      background: url("../images/bg.png");
}
.container{
    width: 100%;
}
.container >*{
    display: block;
    margin: 100px auto;
}
#scene{
    background: #DCDCDC;
    position: relative;
}
